<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Affichage Auteur</title>
</head>
<body>
    <h1>Auteur :</h1>
    <p>Nom de l'auteur : <strong>{{ name }}</strong></p>
</body>
</html>